---
language: python
jobs:
  include:
  - python: "3.6"
  - python: "3.7"
  - python: "3.8"
# command to install dependencies
install:
  - python setup.py -q install
  - python -m pip install -q tensorflow keras
# command to run tests
script:
  - python -m pytest
